@media(max-width: 1042px) {
    .sobre {
        display: flex;
        flex-direction: column;    
        padding-top: 120px;    
    }

    .kratos-sobre{
        display: flex;        
        justify-content: center;
    }

    .kratos-sobre img {
        height: 500px;
    }

    .sobre-mim p {
        padding-top: 50px;
    }
}

@media(max-width: 992px){
    .navbar {
        display: flex;
        flex-direction: column;                 
    }
    
    .menu {
        flex-direction: column;                           
        background-color: black;   
        width: 185px;
        height: 280px;
        gap: 1.2em;         
        padding-top: 20px;  
        justify-content: center;   
        position: fixed;     
        right: -100%;   
        top: 20px;
        text-align: center;   
        transition: 0.3s;                  
    }

    .menu.active {
        right: 0;
    }

    ul{
        display: flex;
        flex-direction: column;        
    }    

    .btn-hamburguer {
        display: flex;
        flex-direction: column;   
    } 

    .btn-hamburguer.active .hamburguer:nth-child(2){
        opacity: 0;
    }
    
    .btn-hamburguer.active .hamburguer:nth-child(1){
        transform: translateY(14px) rotate(45deg);
    }
    
    .btn-hamburguer.active .hamburguer:nth-child(3){
        transform: translateY(-14px) rotate(-45deg);
    }

    .img {
        height: 80vh;
        padding-top: 50px;
    }
}

@media(max-width: 768px) {
    .img {
        height: 60vh;
    }

    .kratos-sobre img {
        height: 50vh;
        width: 500px;
    }

    .sobre-mim {
        padding-left: 10px;
    }

    .exp {
        width: 300px;
    }

    .exp img {
        width: 300px;
        height: 200px;
    }

    .icon-contact i {
        padding: 4px;
    }
}

@media(max-width: 481px) {
    .navbar {
        margin-right: 0;
    }
    
    .img {
        height: 40vh;
        padding-left: 5%;
    }

    .kratos-sobre img {
        height: 40vh;
        width: 400px;
        padding-left: 10%;
    }
}