* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;    
    background-color: #050505;    
}


header {
    width: 100vw;
    height: 70px;
    background-color: black;
    color: lightblue;
    font-size: 24px;
    text-align: center;   
    position: fixed;  
}

.container-hamburguer {
    display: flex;  
    justify-content: space-between;     
}

.container-hamburguer img {
    height: 70px;
    width: 220px;
    padding-left: 30px;      
}

.navbar {
    display: flex;
    align-items: center;    
    margin-right: 70px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 1.2em;       
}

ul li a{
    text-decoration: none;
    color: #9B1916;
}

.btn-hamburguer { 
    display: none;   
    padding-top: 10px;    
    cursor: pointer;
}

.hamburguer {
    width: 30px;
    height: 4px;
    display: flex;    
    background-color: white;
    margin: 5px;    
}

.img {
    height: 100vh;
    width: 98vw;
    padding-left: 0;
    background: #050505;
}

.sobre {
    display: flex;
    padding-top: 150px;    
}

.kratos-sobre img {
    width: 700px;
    height: 700px;
}

.sobre-mim {
    padding: 30px 30px 160px 60px;    
    font-size: 1.2em;
    color: #fff;     
}

.sobre-mim h2 {
    color: #9B1916;
}

.sobre-mim p {
    padding-top: 70px;    
    text-align: justify;
}

#experiencia {    
    margin-top: 200px;
    padding-top: 70px;       
}

.cards {    
    display: flex;
    justify-content: center;     
    margin-top: 40px; 
    flex-flow: wrap;         
}

.title-exp {
    color: #9b1916;
    text-align: center;
    font-size: 46px;
    font-weight: bold;       
}

.exp {
    display: flex;
    flex-direction: column;    
    width: 400px;   
    padding: 30px;
    border: 1px solid red;
    margin: 50px 40px 0;     
    gap: 1.0em;  
    color: white;    
}

.exp img {
    width: 400px;
    height: 300px;       
}

.exp p {
    text-align: justify;
}

footer {
    width: 100vw;
    height: 300px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-contact {
    padding: 10px;    
}

footer h2 {
    font-size: 46px;
    color: #9B1916;
    margin-top: 300px;
}

footer p {
    padding-bottom: 20px;
}

.icon-contact i {
    font-size: 25px;
    margin: 50px 20px 70px;    
    padding: 10px;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 50%;    
}












